
<div *ngIf="employee" class="employees container">
    <!-- <h2>{{employee.name | uppercase}} Details</h2> -->
    <form [formGroup]="employeeForm" novalidate>
    <span>Detalhes: </span>
    <hr>
    <!-- <div><span>id: </span>{{employee._id}}</div> -->
    <div class="row rowSpace">
      <div class="col-md-1">
         name:
      </div>
      <div class="col-md-11">
          <input required [(ngModel)]="employee.name" placeholder="name" 
          width="500px" class="form-control" formControlName="name"/> 
          <small class="text-danger" *ngIf="employeeForm.hasError('required', 'name')"> Nome é requerido! </small>       
      </div>
    </div>
    <div class="row rowSpace">
        
            <div class="col-md-1">
            email:
            </div>
            <div class="col-md-11"> 
                    <input required [(ngModel)]="employee.email" placeholder="email" 
                    class="form-control" formControlName="email"/>
                    <small class="text-danger" *ngIf="employeeForm.hasError('required', 'email')"> Email é requerido! </small> 
                    <small class="text-danger" *ngIf="employeeForm.hasError('pattern', 'email')"> Email inválido! </small>                 
                
            </div>
        
    </div>
    
    <div class="row rowSpace">
        <div class="col-md-1">
          department:
        </div>
        <div class="col-md-11">
            <input required [(ngModel)]="employee.department" placeholder="department" 
            class="form-control" formControlName="department"/>
            <small class="text-danger" *ngIf="employeeForm.hasError('required', 'department')"> Department é requerido! </small> 
        </div>
    </div>
    </form>
    <div style="clear: both; height: 10px; width: 100%;">&nbsp;</div>
    <button class="btn btn-warning" style="margin-right: 5px" (click)="goBack()">go back</button>
    <button class="btn btn-primary"  [disabled]="!employeeForm.valid" (click)="save()">save</button>

  </div>
